.header {
  min-height: 7.8rem;
  box-shadow: 0 5px 5px -5px rgba(#000, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: fixed;
  width: 100%;
  background-color: var(--color-white);
  z-index: 10;
  top: 0;

  .custom-icon svg {
    font-size: 2.2rem;
    margin-right: 0;
  }

  &__logo {
    width: 9.5rem;
    text-decoration: none;
    margin: 0 1rem;

    img {
      width: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }

  @media (min-width: 600px) {
    padding: 0 3rem;
  }
}
